* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    position: relative;
      min-height: 100%;
}

header {
    background-color: #1d2124;
    height: 70px;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 22px;
}

.icon-head {
    display: flex;
    justify-content: flex-end;
    width: 186px;
}

i {
    color: #fff;
    padding: 27px;
    background-color: #171a1c;
}

li {
    display: inline;
    padding-right: 15px;
}

.logo1 {
    padding: 20px;
    background-color: #171a1c;
}

.link-head {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.arch {
    display: inline-block;
    padding-left: 3px;
    font-weight: 700;

}

/*////////////////////     закончился      header*/

.after-header-contain {
    height: 400px;
    background-image: url('../bg/bg-head.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    background-position: 0 -200px;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: #ffffff;
    font-size: 27px;
    font-weight: 400;
    text-transform: uppercase;
    align-self: center;
    margin-bottom: 55px;


}

.btn {
    align-self: center;
}

.btn-link {
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    width: 170px;
    height: 50px;
    font-size: 18px;
    text-align: center;
}


.btn-link1 {
    margin-right: 20px;
    padding: 20px;
    background-color: #89ca62;
}

.btn-link2 {
    padding: 20px 30px;
    background-color: #14b9d5;

}


/*         ////////////       popular posts*/
main {
    background-color: #f2f2f2;
}

.posts {
    padding-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: #18b4cf;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-posts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1170px;
    height: 850px;
    margin: 0 auto;
}

.posts-pct {
    width: 370px;
    margin: 10px;
    background-color: #fff;
}

figcaption {
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 700;
}

/*//////////////////////////////////////client- grid*/

.after-main {
    display: grid;
    background-image: url("../bg/parallax.jpeg");
    background-attachment: fixed;
    height: 600px;
    grid-template-columns: 1fr 1fr 1fr 60px 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "..  ..  ..  ..   ..  ..   .."
    "..  ..  h2  h2   h2  ..   .."
    "..  ..   .. hr   ..  ..   .. "
    ".. lay1 lay2 .. lay3 lay4 .."
}

.client {
    grid-area: h2;
    padding-top: 50px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.hr {
    grid-area: hr;
    height: 3px;
    width: 60px;
    margin: 15px auto;
    background-color: #169cb4;

}

.lay1 {
    grid-area: lay1;
    padding-left: 50px;
    padding-top: 5px;
}

.lay2 {
    grid-area: lay2;
    padding-left: 95px;
}

.lay3 {
    grid-area: lay3;
    padding-left: 25px;

}

.lay4 {
    grid-area: lay4;
    padding-left: 37px;
}


/*  ///////////////////////top rated grid*/

.top-rated {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 150px 190px;


}

.top-r {
    grid-column-start: 4;
}

h3 {
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 57px;
    color: #18b4cf;
    margin: 0 auto;
}

.top-rated img {
    grid-row-start: 2;
    width: 217px;
}

/*/////////////////////////////////////////////////hot news   grid*/

.hot-news {
    width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 277px 35px 242px 60px 242px 35px 277px;
    grid-template-rows: 260px 420px 420px 260px;
    grid-row-gap: 42px;
}

.hot-n-h3 {
    text-align: center;
    margin-bottom: 60px;
}
/*///////////////////////////   1   */
.hot-n1 {
    grid-column-end: span 5;
    height: 260px;

}

.hot-n1 {
    position: relative;
    background-color: #f9f7f7;
    margin: 0;
}

.p1 {
    position: absolute;
    top: 60px;
    display: inline-block;
    width: 350px;
    font-size: 14px;

}

.hot-n1-p {
    text-align: right;
    height: 140px;
    padding-left: 40px;
}

.hot-n1-h4 {
    text-align: right;
    padding-bottom: 15px;
    font-size: 18px;
}

/*                  ////////////////вторая картинка*/
.hot-n2 {
    grid-column-start: 7;
    background-color: #f9f7f7;
}

.hot-n2 h4 {
    padding-top: 10px;
    text-align: center;
}
/*////////////////////////////////////////   3   /*/


.hot-n3 {
    grid-row-start: 2;
    background-color: #f9f7f7;
    grid-column-end: span 3;
}

.hot-n3-p {
    text-align: right;
    padding-right: 24px;
    padding-bottom: 18px;
    padding-left: 20px;

}

.hot-n3-h4 {
    text-align: right;
    padding: 18px 24px;
    font-size: 18px;

}

/*////////////////////////////////////////    4    ////*/
.hot-n4 {
    grid-row-start: 2;
    grid-column-start: 5;
    grid-column-end: span 4;
    background-color: #f9f7f7;
}

.hot-n4-p {
    text-align: right;
    padding-right: 24px;
    padding-bottom: 18px;
    padding-left: 20px;

}

.hot-n4-h4 {
    text-align: right;
    padding: 18px 24px;
    font-size: 18px;
}

/*////////////////////////////////    5    //*/
.hot-n5 {
    grid-row-start: 3;
    background-color: #f9f7f7;
    grid-column-end: span 3;
}

.hot-n5-p {
    text-align: right;
    padding-right: 24px;
    padding-bottom: 18px;
    padding-left: 20px;

}

.hot-n5-h4 {
    text-align: right;
    padding: 18px 24px;
    font-size: 18px;

}

/*////////////////////////////////    6   */

.hot-n6 {
    grid-row-start: 3;
    grid-column-start: 5;
    grid-column-end: span 4;
    background-color: #f9f7f7;
}

.hot-n6-p {
    text-align: right;
    padding-right: 24px;
    padding-bottom: 18px;
    padding-left: 20px;

}

.hot-n6-h4 {
    text-align: right;
    padding: 18px 24px;
    font-size: 18px;
}

/*////////////////////   7    */

.hot-n7 {
    grid-row-start: 4;
    grid-column-start: 1;
    background-color: #f9f7f7;
}

.hot-n7 h4 {
    padding-top: 10px;
    text-align: center;
}

/*//////////////////////////  8   */
.hot-n8 {
    grid-row-start: 4;
    grid-column-start: 3;
    grid-column-end: span 6;
    background-color: #f9f7f7;
    position: relative;
}

.hot-n8-h4 {
    padding-top: 10px;
    text-align: center;
}

.p8 {
    position: absolute;
    top: 60px;
    display: inline-block;
    width: 350px;
    font-size: 14px;

}

.hot-n8-p {
    text-align: right;
    height: 140px;
    padding-left: 40px;
}

.hot-n8-h4 {
    text-align: right;
    padding-bottom: 15px;
    font-size: 18px;
}
/*/////////////////footer*/
footer {
    margin-top: 60px;
    width: 100%;
    height:80px ;
    background-color: #1d2124;
    color: white;


}

.foot {
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 80px;
    width: 1160px;
    margin: 0 auto;

}

.copyright {
    height: 80px;
    line-height: 80px;
    font-size: 13px;
}
.lioit {
    height: 80px;
    line-height: 80px;
    grid-column-start: 2;
    position: relative;
}

.lioit img {
    position: absolute;
    right:80px;
    top: 30px;
}
.lioit p {
    text-transform: uppercase;
    font-size: 28px;
    position: absolute;
    right: 0;
}